.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

#Processing Sketchbook Folders
examples/
libraries/
modes/
templates/
tools/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
application.macosx
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
modes/p5jsMode/examples/3D/ex01_sine_cosine_in_3D/ex01_sine_cosine_in_3D.js
modes/p5jsMode/examples/3D/ex01_sine_cosine_in_3D/libraries/p5.js
*.js
*.html